.main {
    margin-top: 5vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: ridge black;
    border-radius: 20px;
}

.main .password {
    width: 100%;
}